<%- include('includes/head'); %>
<%- include('includes/nav'); %>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8">
          <h1 class="display-1 text-center"> 404</h1>
          <p class="text-center lead">Not Found</p>
        </div>

        <div class="col-lg-2"></div>
      </div>
    </div>


  <%- include('includes/footer'); %>